.table-data {
  width: 98%;
  border-style: ridge;
  border-color: white;
  border-width: 2px;
  display: flex;
  box-shadow: 20px;
  border-radius: 15px;
  justify-content: space-around;
  background-color: white;
  align-self: center;
}
.container1 {
  width: 98%;
  border-style: ridge;
  border-width: 2px;
  display: flex;
  border-radius: 10px;
  height: 55px;
  justify-content: space-between;
}
.prvbtn {
  background-color: white;
  color: black;
  font-weight: 500;
  width: 100px;
  margin-left: 20px;
  height: 30px;
  border-style: ridge;
  border-width: 1px;
  border-color: rgb(211, 199, 199);
  margin-top: 10px;
  border-radius: 5px;
}
.nextbtn {
  background-color: white;
  color: black;
  font-weight: 500;
  width: 100px;
  margin-right: 10px;
  height: 30px;
  border-style: ridge;
  border-width: 1px;
  border-color: rgb(211, 199, 199);
  margin-top: 10px;
  border-radius: 5px;
}
.navtabs {
  display: flex;
  width: 35%;
  border-style: ridge;
  border-radius: 10px;
  border-width: 1px;
  position: relative;
  border-color: gray;
}
.font-style {
  background-color: green;
  color: black;
  font-weight: 500;
  border-style: ridge;
}
.font-style:hover {
  background-color: rgb(205, 201, 201);
  color: rgb(1, 0, 0);
}
.header {
  width: 98%;
  display: flex;
  border-style: ridge;
  border-radius: 10px;
  margin-top: 15px;
  justify-content: space-between;
  overflow: hidden;
  height: 70px;
}

.Button-style {
  margin-right: 10px;
  margin-top: 15px;
}
.csv-button {
  width: 150px;
  height: 35px;
  margin-right: 10px;

  background-color: white;
  color: black;
  border-style: ridge;
  border-width: 1px;
  font-weight: 500;
  border-radius: 5px;
}
.add-user {
  width: 100px;
  height: 35px;
  margin-right: 10px;

  background-color: blue;
  color: white;
  border-style: ridge;
  border-width: 1px;
  font-weight: 500;
  border-radius: 5px;
}
.add-user:hover {
  background-color: green;
}
.header-first {
  margin-left: 20px;
  margin-top: 10px;
}
.Useractivity {
  display: flex;
}
.usertitle {
  font-size: 20px;
  font-weight: 500;
}
.active-user {
  font-size: 12px;
  margin-top: 7px;
  width: 70px;
  border-radius: 10px;
  margin-left: 5px;
  height: 20px;
  background-color: lightgreen;
}
.CSVdownload {
  text-decoration: none;
  color: black;
}
.pageRange {
  margin-top: 5px;
  font-size: 20px;
  font-weight: 500;
}
